body {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(129,140,153,.1);
}

::-webkit-scrollbar-track {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

@import "./assets/fnt/roboto/roboto";
@import "./styles/header";
@import "./styles/main";
@import "./styles/main-menu";
@import "./styles/desktop";
@import "./styles/desktop-commands";
@import "./styles/desktop-logs";
