<div class="desktop-logs">
  <div class="row g-0 desktop-logs-row__header">
    <div class="col-1 desktop-logs-cell__header">№</div>
    <div class="col-2 desktop-logs-cell__header">Дата и время</div>
    <div class="col-5 desktop-logs-cell__header">Команда</div>
    <div class="col-1 desktop-logs-cell__header">Парам.1</div>
    <div class="col-1 desktop-logs-cell__header">Парам.2</div>
    <div class="col-1 desktop-logs-cell__header">Парам.3</div>
    <div class="col-1 desktop-logs-cell__header">Статус</div>
  </div>

  <div class="desktop-logs-rows__place">

    <div class="desktop-logs-rows">

      @for (log of logService.logUpdated$ | async; track log.id; let i = $index) {
        <div class="row g-0 desktop-logs-row">
          <div class="col-1 desktop-logs-cell">{{i + 1}}</div>
          <div class="col-2 desktop-logs-cell desktop-logs-cell__left">{{getLogDate(log)}}</div>
          <div class="col-5 desktop-logs-cell desktop-logs-cell__left">{{log.command?.name}}</div>
          <div class="col-1 desktop-logs-cell">{{log.command?.parameter_default_value1}}</div>
          <div class="col-1 desktop-logs-cell">{{log.command?.parameter_default_value2}}</div>
          <div class="col-1 desktop-logs-cell">{{log.command?.parameter_default_value3}}</div>
          <div class="col-1 desktop-logs-cell">{{getStatus(log.status)}}</div>
        </div>
      }

    </div>

  </div>
</div>

