.desktop-commands {
  display: block;
  width: 95%;
  min-height: 520px;
  margin-left: 16px;
  overflow: hidden;
  background-color: #E4E8EE;
  font-weight: 500;
}

$commands-terminals-height: 320px;
.desktop-commands-terminals {
  display: block;
  height: $commands-terminals-height;
  padding: 6px 10px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.desktop-commands-terminal-item {
  cursor: pointer;
  padding: 2px 0;
  &:hover {
    background-color: #F2F6FC;
  }
}
.desktop-commands-terminal-item__selected {
  color: #20AF8E;
}

$searchbox-height: 40px;
.desktop-commands-searchbox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: $searchbox-height;
  padding: 8px 10px 8px 16px;
  background-color: white;
  & img {
    width: 10px;
  }
  & input {
    margin-left: 12px;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
  }
}

.desktop-commands-list-place {
  position: absolute;
  display: none;
  top: $searchbox-height + 2;
  left: 0;
  width: 100%;
  height: $commands-terminals-height - 40 - 2;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}
.desktop-commands-list {
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.desktop-commands-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 6px 8px;
  &:hover {
    color: #20AF8E;
    background-color: #F2F6FC;
 }
}

.desktop-commands-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  width: 60%;
}

.desktop-commands-button {
  width: 155px;
  height: 43px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.desktop-commands-button__back {
  background-color: #ABB5C5;
  border: 1px solid #A9B2BF;
}

.desktop-commands-button__send {
  background-color: #18B490;
  border: 1px solid #14AF8C;
  &:hover {
    background-color: #479485;
  }
  &:disabled:hover {
    background-color: #18B490;
  }
}

.desktop-commands-param-place {
  display: block;
}

.desktop-commands-param-name {
  font-size: 10px;
  //text-wrap: nowrap;
  max-height: 45px;
  overflow: hidden;
}

.desktop-commands-param-value {
  width: 100%;
  height: $searchbox-height;
  padding: 8px 10px;
  background-color: white;
  & input {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
  }
}
