$desktop-logs: 220px;
$desktop-logs-row__header: 60px;
.desktop-logs {
  display: block;
  width: 97%;
  height: $desktop-logs;
  margin: 14px 0 0 10px;
  overflow: hidden;
  background-color: #4B4B4B;
}

.desktop-logs-rows__place {
  display: block;
  width: 100%;
  height: $desktop-logs - $desktop-logs-row__header;
  overflow: hidden;
}
.desktop-logs-rows {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.desktop-logs-row__header {
  color: white;
  font-size: 12px;
  font-weight: 500;
  height: $desktop-logs-row__header;
}
.desktop-logs-row {
  color: black;
  background-color: white;
  font-size: 11px;
}
.desktop-logs-cell__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.desktop-logs-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid gray;
}
.desktop-logs-cell__left {
  justify-content: flex-start !important;
}
