@import "./vars";

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: $width;
  max-width: $width;
  min-width: $width;
  height: $header-height;
  color: white;
  background-color: #2D2D2D;
  margin: 0 auto;
  overflow: hidden;
}

.header-logo {
  margin-left: 8px;
}

.header-title {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 8px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 36px;
}
