.main-menu-item {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 65px;
  margin: 10px 0;
  &:hover{
    background-color: #F2F6FC;
  }
}

.main-menu-item__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.main-menu-item__img {
  margin-left: 8px;
  width: 23px;
}

.main-menu-item__txt {
  width: 100%;
  padding-left: 8px;
  //text-wrap: nowrap;
  font-weight: 500;
  overflow: hidden;
}
