@import "./vars";

.main {
  display: flex;
  flex-direction: row;
  width: $width;
  max-width: $width;
  min-width: $width;
  height: calc(100vh - $header-height);
  border: 1px solid gray;
  margin: 0 auto;
  overflow: hidden;
}

.main-menu {
  display: block;
  width: 240px;
  max-width: 240px;
  min-width: 240px;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

.main-desktop {
  width: 100%;
  height: 100%;
  background-color: #F2F6FC;
  box-shadow: inset 2px 0 3px 1px gray;
  overflow: hidden;
}
