<header class="header">

  <a class="header-logo" href="">
    <img src="/assets/img/logo.png" alt="">
  </a>

  <div class="header-title">
    Личный кабинет - Отправка команды на терминал
  </div>

  <div class="header-menu">
    <a href="">
      <img src="/assets/img/user.png" alt="">
    </a>
    <div class="p-2">Партнёр</div>
    <a href="">
      <img src="/assets/img/login.png" alt="">
    </a>
  </div>

</header>
