<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/client.png" alt="">
    <div class="main-menu-item__txt">Клиенты</div>
  </div>
</div>

<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/users.png" alt="">
    <div class="main-menu-item__txt">Пользователи</div>
  </div>
</div>

<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/terminal.png" alt="">
    <div class="main-menu-item__txt">Терминалы</div>
  </div>
</div>

<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/bank-tid.png" alt="">
    <div class="main-menu-item__txt">TID Банка</div>
  </div>
</div>

<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/transaction.png" alt="">
    <div class="main-menu-item__txt">Транзакции</div>
  </div>
</div>

<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/logs.png" alt="">
    <div class="main-menu-item__txt">Логи терминалов</div>
  </div>
</div>

<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/cashbox.png" alt="">
    <div class="main-menu-item__txt">Кассы</div>
  </div>
</div>

<div class="main-menu-item">
  <div class="main-menu-item__content">
    <img class="main-menu-item__img" src="/assets/img/terminal.png" alt="">
    <img class="main-menu-item__img" src="/assets/img/client.png" alt="">
    <div class="main-menu-item__txt">Привязать терминалы к клиенту списком</div>
  </div>
</div>
