<div class="desktop-commands">

  <div class="row g-0">
    <div class="col-5 px-4 py-2">ID Терминала(ов)</div>
    <div class="col-7 px-4 py-2">Команда</div>
  </div>

  <div class="row g-0">

    <div class="col-5 ps-3">
      <div class="desktop-commands-terminals">
        @for (terminal of terminals; track terminal; let i = $index) {
          <div class="desktop-commands-terminal-item"
            [ngClass]="{'desktop-commands-terminal-item__selected': i == selectedTerminalIndex}"
            (click)="selectTerminal(i)">{{terminal}}</div>
        }
      </div>
    </div>

    <div class="col-7 px-3">
      <div class="desktop-commands-searchbox">
        <img src="/assets/img/arrow-down.png" alt="">
        <input type="text" placeholder="Выберите команду" (focus)="showCommandsList()">
        <div class="desktop-commands-list-place" [ngClass]="{'d-block': isDropVisible, 'd-none': !isDropVisible}">
          <div class="desktop-commands-list">
            @for (command of commands; track command.id; let i = $index) {
              <div class="desktop-commands-list-item" (click)="selectCommand(i)">* {{command.name}}</div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="row g-0 py-2">

      @if ((selectedCommand?.parameter_name1 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name1}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value1">
            </div>
          </div>
        </div>
      }

      @if ((selectedCommand?.parameter_name2 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name2}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value2">
            </div>
          </div>
        </div>
      }


      @if ((selectedCommand?.parameter_name3 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name3}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value3">
            </div>
          </div>
        </div>
      }


      @if ((selectedCommand?.parameter_name4 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name4}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value4">
            </div>
          </div>
        </div>
      }

      @if ((selectedCommand?.parameter_name5 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name5}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value5">
            </div>
          </div>
        </div>
      }

      @if ((selectedCommand?.parameter_name6 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name6}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value6">
            </div>
          </div>
        </div>
      }

      @if ((selectedCommand?.parameter_name7 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name7}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value7">
            </div>
          </div>
        </div>
      }

      @if ((selectedCommand?.parameter_name8 ?? null) != null) {
        <div class="col-3 px-3">
          <div class="desktop-commands-param-place">
            <div class="desktop-commands-param-name">{{selectedCommand!.parameter_name8}}</div>
            <div class="desktop-commands-param-value">
              <input class="desktop-commands-param-value" type="number"
                [(ngModel)]="selectedCommand!.parameter_default_value8">
            </div>
          </div>
        </div>
      }
    </div>

    <div class="col-12 px-3 d-flex justify-content-center">
      <div class="desktop-commands-buttons">
        <button class="desktop-commands-button desktop-commands-button__back" disabled>Назад</button>
        <button class="desktop-commands-button desktop-commands-button__send"
          [disabled]="(selectedCommandId <= 0)"
          (click)="sendCommand()">Отправить</button>
      </div>
    </div>
  </div>

</div>
